#avatar {
    rotate: 90%;
    border-radius: 5px;
    border-width: 5px;
    border-block-color: blue;
}
html{
    background-color: aquamarine;
}

.collection_title{
    z-index: 5;
    /* top:-5rem; */
    color:white;
    display:inherit;
    position: sticky;
    margin-top:-10rem;
    margin-bottom:10rem;
    
}

.active{
    background-color: #ccc !important;
    color: black !important;
}